:host {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-spacer {
    flex: 1;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}

.chat-input {
    width: 100%;
}
.message-container{
    display: flex;
    // justify-content: flex-end;
}
.message-container.message-sent {
    justify-content: flex-end;
}
.message-container.message-received {
    justify-content: flex-start;
}

.message {
    max-width: 80%;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
}