:host {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-spacer {
    flex: 1;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}

.chat-input {
    width: 100%;
}