@let messages = messages$ | async;

<div class="chat-container" #chatContainer>
    <span class="chat-spacer"></span>
    <div class="chat-messages" >
        @for(message of messages; track message.id; let i = $index) {
        <div class="message-container"
            [ngClass]="{ 'message-sent': message.sender === 'currentUser', 'message-received': message.sender !== 'currentUser' }">
            <mat-card class="message">
                <mat-card-header class="message-header" *ngIf="message.sender !== 'currentUser' && (i === 0 || (messages)![i-1].sender !== message.sender)">
                    <mat-card-title>{{ message.sender }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="message-content">
                    <p>{{ message.content }}</p>
                </mat-card-content>
                <mat-card-footer class="message-footer">
                    <small class="message-time">{{ message.timestamp | date: 'shortTime' }}</small>
                </mat-card-footer>
            </mat-card>
        </div>
        }
    </div>
</div>
<mat-toolbar class="chat-toolbar">
    <mat-form-field appearance="outline" class="chat-input" subscriptSizing="dynamic">
        <input matInput [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." />
        <button mat-icon-button matSuffix (click)="sendMessage()" [disabled]="!newMessage.trim()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</mat-toolbar>