@use '@angular/material' as mat;

:host {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: var(--mat-sys-secondary-container);
    padding: 12px;
}

.chat-spacer {
    flex: 1;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.chat-input {
    width: 100%;
    @include mat.form-field-overrides((outlined-outline-width: 0,
            outlined-focus-outline-width: 0,
        ));
}

.message-container {
    display: flex;
    margin-bottom: 2px;
}

.message-container.message-sent {
    justify-content: flex-end;
}

.message-container.message-received {
    justify-content: flex-start;
}

.message {
    max-width: 70%;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    border: none;
}

.message-container.message-sent+.message-container.message-sent .message {
    border-radius: 18px 18px 4px 18px;
    margin-top: 1px;
}

.message-container.message-received+.message-container.message-received .message {
    border-radius: 18px 18px 18px 4px;
    margin-top: 1px;
}

.message-container.message-sent .message {
    background-color: var(--mat-sys-primary-container);
    border-radius: 18px 18px 4px 18px;
}

.message-container.message-received .message {
    background-color: var(--mat-sys-surface-container-high);
    border-radius: 18px 18px 18px 4px;
}

.message-header {
    padding: 8px 12px 0;
}

.message-container.message-sent .message-header {
    mat-card-title {
        font-size: 12px;
        font-weight: 500;
        color: var(--mat-sys-on-primary-container);
    }
}

.message-container.message-received .message-header {
    mat-card-title {
        font-size: 12px;
        font-weight: 500;
        color: var(--mat-sys-primary);
    }
}

/* Add more space for the first message in a group that shows the header */
.message-container.message-received:not(:first-child) .message:not(:has(.message-header)) {
    margin-top: 1px;
}

.message-content {
    padding: 8px 12px;

    p {
        margin: 0;
    }
}

.message-footer {
    padding: 0 12px 6px;
    text-align: right;
}

.message-time {
    color: rgba(0, 0, 0, 0.54);
    font-size: 11px;
}

.chat-toolbar {
    padding: 8px;
}

.chat-input {
    .mat-mdc-form-field-flex {
        border-radius: 24px;
        background-color: var(--mat-sys-surface-container);
        padding: 0 8px;
    }

    .mat-mdc-text-field-wrapper {
        padding-bottom: 0;
    }

    .mat-mdc-form-field-infix {
        padding: 12px 0;
    }

    .mat-mdc-icon-button {
        color: var(--mat-sys-primary);
    }
}

.message-content p {
    word-break: break-word;
}