.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 25rem;
  border-radius: 0;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  border-right: none;
  background-color: var(--mat-sys-surface);
}

.mat-toolbar {
  background: var(--mat-sys-primary);
  color: var(--mat-sys-surface);
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0079d2;
}

.sidenav-toolbar{
  box-shadow: none !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

/* Chat list styling */
.chat-link {
  border-radius: 0 !important;
  transition: background-color 0.2s ease;
}

.chat-link mat-icon {
  color: var(--mat-sys-primary);
}
.chat-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button styling */
button[mat-icon-button] {
  color: var(--mat-sys-surface);
}

button[mat-icon-button]:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidenav {
    width: 85%;
    max-width: 25rem;
  }
}