<div class="chat-container">
    <mat-sidenav-container class="sidenav-container">
        <!-- CHATS -->
        <mat-sidenav class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
            class="chat-sidenav">
            <!-- CHAT-LIST -->
            <app-chat-list></app-chat-list>
        </mat-sidenav>

        <!-- CONTENT -->
        <mat-sidenav-content class="chat-content">
            <ng-content />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>