@let isHandset = isHandset$ | async;

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <button type="button" aria-label="Create chat" mat-icon-button (click)="openDialog()">
        <mat-icon class="material-symbols-outlined" aria-label="Create chat icon">chat_add_on</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      @for (chat of chats$ | async; track chat.id) {
        <mat-list-item [routerLink]="['/chat', chat.id]" class="chat-link" [activated]="isRouteActive(chat.id)">
              <div matListItemAvatar class="chat-icon">
                <mat-icon class="material-symbols-outlined">chat</mat-icon>
              </div>
              <div matListItemTitle>{{ chat.name || 'Chat ' + chat.id }}</div>
              <div matListItemLine>Tap to view messages</div>
        </mat-list-item>
      } @empty {
        <div class="no-chats">No hay chats disponibles</div>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    @if (isHandset) {
      <mat-toolbar color="primary" class="sidenav-toolbar">
        @if(isChatRouteActive()){
          <button type="button" aria-label="Back" mat-icon-button (click)="goBack()">
            <mat-icon class="material-symbols-outlined" aria-label="Back icon">arrow_back</mat-icon>
          </button>
          <span class="spacer"></span>
          <!-- <span>{{  | async }}</span> -->
        } @else {
          <span>{{title}}</span>
        }
        <span class="spacer"></span>

        <button type="button" aria-label="Create chat" mat-icon-button (click)="openDialog()">
          <mat-icon class="material-symbols-outlined" aria-label="Create chat icon">chat_add_on</mat-icon>
        </button>
        </mat-toolbar>
    }
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>