<h2 mat-dialog-title>
    <span class="dialog-title">
        {{ tabIndex() === 0 ? 'Inicia sesión' : 'Crea una cuenta' }}
    </span>
    <button mat-icon-button mat-dialog-close aria-label="Cerrar" class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-dialog-content class="dialog-content">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [selectedIndex]="tabIndex()" (selectedTabChange)="tabIndex.set($event.index)">
        <mat-tab label="Iniciar sesión" bodyClass="tab-body">
            <form [formGroup]="loginForm" class="login-form" (ngSubmit)="loginWithEmail()"> 
                <p class="dialog-description">
                    Ingresa tus credenciales para acceder a tu cuenta
                </p>
                <mat-form-field appearance="outline" class="dialog-input">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" type="email" autocomplete="email" />
                    @if (emailLogin.invalid && (emailLogin.dirty || emailLogin.touched)) {
                    <mat-error>{{emailLoginError}}</mat-error>
                    }
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="outline" class="dialog-input">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'"
                        autocomplete="current-password" />
                    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (passwordLogin.invalid && (passwordLogin.dirty || passwordLogin.touched)) {
                    <mat-error  >{{passwordLoginError}}</mat-error>
                    }
                </mat-form-field>
                <button mat-flat-button color="primary" class="login-button" [disabled]="loading || loginForm.invalid">
                    Iniciar sesión
                </button>

                <div class="divider-container">
                    <mat-divider></mat-divider>
                    <span class="divider-text">o</span>
                    <mat-divider></mat-divider>
                </div>

                <button mat-stroked-button class="google-button" (click)="loginWithGoogle()" [disabled]="loading">
                    Continuar con Google
                </button>
            </form>
        </mat-tab>
        <mat-tab label="Crear cuenta" bodyClass="tab-body">
            <form [formGroup]="registerForm" class="register-form" (ngSubmit)="registerWithEmail()">
                <p class="dialog-description">
                    Crea una cuenta para acceder a todas las funciones
                </p>
                <mat-form-field appearance="outline" class="dialog-input">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput formControlName="username" type="text" />
                    @if (usernameRegister.invalid && (usernameRegister.dirty || usernameRegister.touched)) {
                    <mat-error>{{usernameRegisterError}}</mat-error>
                    }
                </mat-form-field>
                <br>
                <br>

                <mat-form-field appearance="outline" class="dialog-input">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" type="email" autocomplete="email" />
                    @if (emailRegister.invalid && (emailRegister.dirty || emailRegister.touched)) {
                    <mat-error>{{emailRegisterError}}</mat-error>
                    }
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="outline" class="dialog-input">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'"
                        autocomplete="current-password" />
                    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (passwordRegister.invalid && (passwordRegister.dirty || passwordRegister.touched)) {
                    <mat-error>{{passwordRegisterError}}</mat-error>
                    }
                    <mat-hint>La contraseña debe tener al menos 6 caracteres</mat-hint>
                </mat-form-field>
                <br>
                <br>
                <button mat-flat-button color="primary" class="login-button"
                    [disabled]="loading || registerForm.invalid">
                    Crear cuenta
                </button>
            </form>
            <div class="divider-container">
                <mat-divider></mat-divider>
                <span class="divider-text">o</span>
                <mat-divider></mat-divider>
            </div>
            <button mat-stroked-button class="google-button" (click)="loginWithGoogle()" [disabled]="loading">
                Continuar con Google
            </button>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>