<mat-toolbar>
    <span>Conversaciones</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button>
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>

<mat-nav-list>
    <mat-list-item class="chat-list-item-container" *ngFor="let chat of chats$ | async"
        [class.active-chat]="(selectedChatId$ | async) === chat.id" (click)="selectChat(chat)">
        <div class="chat-list-item">
            <div class="avatar-container">
                <img matListItemAvatar [src]="chat.avatar" [alt]="chat.name" class="chat-avatar" />
                <span class="status-indicator" [class.online]="chat.online"></span>
            </div>
            <div class="chat-list-content">
                <div class="chat-header">
                    <span class="chat-name">{{ chat.name }}</span>
                    <span class="chat-time">{{
                        chat.timestamp | date: 'shortTime'
                        }}</span>
                </div>
                <div class="chat-footer">
                    <span class="chat-preview">{{ chat.lastMessage }}</span>
                    <span *ngIf="chat.unread > 0" class="unread-badge">
                        {{ chat.unread }}
                    </span>
                </div>
            </div>
        </div>
    </mat-list-item>
</mat-nav-list>