.close-button{
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgba(0, 0, 0, 0.54);
}

.dialog-input,.google-button,.login-button {
    width: 100%;
}

.divider-container {
    display: flex;
    align-items: center;
    margin: 16px 0;

    mat-divider {
        flex: 1;
    }

    .divider-text {
        padding: 0 16px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
}